:host {
  display: block;
}

#view-default {

  .content {
    padding-left: 10px;

    .title {
      font-weight: bold;
      font-size: 24px;
      padding-bottom: 5px;
    }

    .subtitle {
      padding-bottom: 20px;

      .date {
        color: #7da0bb;
        font-size: 14px;
      }

      .category {
        font-style: italic;
        font-size: 14px;
      }
    }

    .description {
      background-color: #ededed;
    }
  }
}
